<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Email Template</title>
	<link href="https://fonts.googleapis.com/css?family=Noto+Serif:400,400i,700,700i|Raleway:400,400i,700,700i" rel="stylesheet" />
	<style>
		*{
			margin:0;
			padding:0;
		}
	</style>
	
  </head>
  <body style="width:100%; margin:0;padding:0;">
    <table border="0" cellpadding="0" cellspacing="0" style="width:100%; margin:0;padding:0;" bgcolor="#f7f7f7">
      <tr>
        <td align="center">
		
			<table border="0" cellpadding="0" cellspacing="0" style="width:650px" bgcolor="#fff">
              <tr>
                <td class="wrapper">
                  <table border="0" cellpadding="0" cellspacing="0" style="width:100%; margin:0;padding:0;">
                    <tr>
                      <td style="padding:15px" align="center;">
                        <a href="#"><img style="display: block;margin: 0 auto;" width="200" src="http://freelancegenie.co.uk/tutor_design/public/web/images/logo.png"/></a>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
			
            <table border="0" cellpadding="0" cellspacing="0" style="width:650px" bgcolor="#fff">
              <tr>
                <td class="wrapper">
                  <table border="0" cellpadding="0" cellspacing="0" style="width:100%; margin:0;padding:0;">
                    <tr>
                      <td style="padding:15px;">
						<img style="max-width:100%;" src="http://freelancegenie.co.uk/tutor_design/public/web/images/slider0.jpg">
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
			
			<table border="0" cellpadding="0" cellspacing="0" style="width:650px" bgcolor="#fff">
              <tr>
                <td class="wrapper">
                  <table border="0" cellpadding="0" cellspacing="0" style="width:100%; margin:0;padding:0;">
                    <tr>
                      <td style="padding:15px;color:#444; font-family:'Raleway', Arial,sans-serif; font-size:15px; line-height:28px;">
                        <p>Hi there,</p>
                        <p>Sometimes you just want to send a simple HTML email with a simple design and clear call to action. This is it.</p>
                        <p>This is a really simple email template. Its sole purpose is to get the recipient to click the button with no distractions.</p>
                        <p>Good luck! Hope it works.</p>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
			
			<table border="0" cellpadding="0" cellspacing="0" style="width:650px" bgcolor="#141414">
              <tr>
                <td class="wrapper">
                  <table border="0" cellpadding="0" cellspacing="0" style="width:100%; margin:0;padding:0;">
                    <tr>
						<td style="padding:15px; width:60%;">
							<img width="200" src="http://freelancegenie.co.uk/tutor_design/public/web/images/logo2.png"/>
						</td>
                      <td style="padding:15px; color:#dfdfdf; font-family:'Raleway', Arial,sans-serif; font-size:15px; line-height:28px;">
						<ul style="list-style: disclosure-closed;">
                        <li>Union House, 111 New Union Street, Coventry, West Midlands, United Kingdom, CV1 2NT</li>
                        <li>+0123456789</li>
                        <li>info@mail.com</li>
						</ul>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
			
			<table border="0" cellpadding="0" cellspacing="0" style="width:650px" bgcolor="#000">
              <tr>
                <td class="wrapper">
                  <table border="0" cellpadding="0" cellspacing="0" style="width:100%; margin:0;padding:0;">
                    <tr>
                      <td style="text-align:center;padding:15px;color:#8c8c8c; font-family:'Raleway', Arial,sans-serif; font-size:15px; line-height:28px;">
                        <p>© 2019 Freelance Genie. All Rights Reserved</p>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>

        </td>
      </tr>
    </table>
  </body>
</html>
